h1{
    color: blue;
    text-align: center;
    text-transform: uppercase;
}
.one{
    text-align: center;
    text-shadow: 40px;
    background-color: limegreen;
}
div{
    background-color: aqua;
    font-size: 20px;
    text-align: center;
    
}